* {
    margin: 0;
}

header {
    background-image:
        url(Assets/images/banner-bk.jpg);
        height: 40rem;

}

.ori {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: space-between;
}

.ori > box-icon {
    margin-left: 6rem;
    margin-top: 2rem;
    font-size: 5rem;
}

h5 {
    text-align: right;
    display: flex;
    color: white;
    font-size: 20px;
    margin-top: 4rem;
    margin-right: 2rem;
}
h1 {
    font-size: 75px;
    line-height: 80px;
    color: white;
    margin-bottom: 35px;
    margin-left: 6rem;
    margin-top: 4rem;
}

.p-header {
    color: rgb(183, 183, 181);
    margin-left: 6rem;
}

header > button {
    margin-top: 3rem;
    margin-left: 6rem;
    border-radius: 50px;
    height: 2.5rem;
    width: 9rem;
    color: rgb(29, 29, 92);
    font-weight: bold;
    background-color: rgb(4, 255, 171);
}



.section1 {
    width: 100%;
    height: 40%;
}

h2 {
    font-size: 50px;
    line-height: 80px;
    color: rgb(0, 0, 0);
    margin-bottom: 35px;
    text-align: center;
    margin-top: 4rem;
}

.content-blocks {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.section1 > .content-blocks > .block1 {
    width: 20%;
    height: 40%;
    justify-content: center;
    text-align: center;
    margin-bottom: 10rem;
}
.section1 > .content-blocks > .block1 > p {
    align-items: center;
    color: rgb(31, 31, 31);
}

.section2   {
    width: 100%;
    background-image:
        url(Assets/images/banner-bk2\ \(1\).png);
        height: 100%;
}

.ori2-cont1-sec2 {
    text-align: left;
    margin-left: 2rem;
}

.title-section2 {
    margin: 0;
    text-align: left;
}

.parrafo-sec2 {
    text-align: left;
    color: black;
    margin: 0;
}

.button-sec2 {
    margin-top: 2rem;
    background-color: rgb(8, 12, 53);
    color: white;
    border-radius: 20px;
    width: 7.2rem;
    height: 2.5rem;
}

.container-compu {
    width: 25%;
    margin-right: 14rem;
    height: 2rem;
}

.container-compu > .img-computer {
    width: 100%;
}

.ori2 {
    width: 100%;
    height: 20rem;
    display: flex;
    justify-content: space-between;

}

.ori3 {
    width: 100%;
    display: flex;
    justify-content: center;
}

.ori3 > .container-tablet {
    width: 30%;
    height: 100%;
    text-align: right;
}

.container-tablet > .img-tablet {
    width: 80%;
    height: 100%;
    margin-right: 10rem;
    margin-bottom: 3rem;
}

.ori3-cont1-sec2 {
    text-align: left;
}

.section3 {
    width: 100%;
    height: 40rem;
}

.price {
    display: flex;
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;
}

.price > .sign{
    color: black;
    margin: 0;
    margin-top: 6rem;
    margin-right: 1rem;
}

.price > h2 {
    margin: 0;
    font-size: 7rem;
    margin-top: 3rem;
}

.block1-price {
    text-align: center;
}

.block1-price > h3 {
    margin-top: 2rem;
}

.price > h5 {
    color: black;
    margin: 0;
    margin-top: 6rem;
}

.desc {
    color: black;
    text-align: center;
    margin-bottom: 1rem;
}

.block1-price > button {
    border-radius: 50px;
    height: 2.5rem;
    width: 7rem;
    color: rgb(29, 29, 92);
    font-weight: bold;
    background-color: rgb(255, 255, 255);
}

.block1-price-X {
    text-align: center;
    background-color: #192440;
    width: 20%;
    height: 28rem;
    border-radius: 4px;
}

.block1-price-X > h3 {
    color: white;
    margin-top: 2rem;
}

.price-X > h5 {
    color: rgb(255, 255, 255);
    margin: 0;
    margin-top: 6rem;
}

.desc-X {
    color: rgb(255, 255, 255);
    text-align: center;
    margin-bottom: 1rem;
}

.price-X {
    display: flex;
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;
}

.price-X > .sign-X{
    color: rgb(255, 255, 255);
    margin: 0;
    margin-top: 6rem;
    margin-right: 1rem;
}

.price-X > h2 {
    margin: 0;
    font-size: 7rem;
    margin-top: 3rem;
    color: white;
}

.block1-price-X > button {
    border-radius: 50px;
    height: 2.5rem;
    width: 7rem;
    color: rgb(29, 29, 92);
    font-weight: bold;
    background-color: rgb(4, 255, 171);
}

.client-images {
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(230, 230, 230);
}

footer {
    background-image:
        url(Assets/images/contact-bk.jpg);
        height: 40rem;
}

.title-footer {
    color: white;
    margin: 0;
    text-align: left;
}

.text-footer {
    color: white;
}

.h3-footer {
    color: white;
    margin-top: 1rem;
}

.content-all{
    display: flex;
}

.content-contact {
    width: 50%;
    margin-left: 10rem;
    margin-top: 7rem;
}

.content-form {
    width: 50%;
}

.form-2 {
    display: flex;
}

.input {
    background: none;
    border-color: rgb(4, 255, 171);
    height: 2rem;
    border-radius: 3px;
}

.h5-footer {
    color: rgb(4, 255, 171);
}

.footer-name {
    margin-right: 3rem;
}

.input-X {
    background: none;
    border-color: rgb(4, 255, 171);
    height: 4rem;
    border-radius: 3px;
    width: 24rem;
}

.button-footer {
    margin-top: 3rem;
    border-radius: 50px;
    height: 2.5rem;
    width: 24rem;
    color: rgb(29, 29, 92);
    font-weight: bold;
    background-color: rgb(4, 255, 171);
}

.footer-2 {
    background-color: rgb(29, 29, 92);
    height: 10rem;
}